<!DOCTYPE html>
<html lang="en">

<head>
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="ui.css" type="text/css" rel="stylesheet">
</head>

<body>
	<div class="container mt-5" id="vehicleShop">
		<div id="shopmenu" class="card mt-5 bg-dark" style="border:0;display:none">
			<div class="card-header stbackground text-white unselectable" unselectable="on"
				onselectstart="return false;" onmousedown="return false;">
				<span class="shopTitle">Vehicle Shop</span>
				<i id="close" class="float-right fa-2x fas fa-times-circle"></i>
			</div>
			<div class="row rowOverflow">
				<div class="card-body unselectable col-2 carCategoryHolder" unselectable="on">
					<a v-for="category in categories" class="carCategory"
						:class="{ selected: (selectedCategory == category.name) }"
						@click="switchCategory(category.name)">{{category.label}}</a>
				</div>
				<div class="card-body unselectable row showCaseBox" unselectable="on"
					v-if="selectedCategory != 'ltdedition'">
					<i id="page-prv" class="fas fa-angle-left fa-3x justify-content-center"
						:class="{ end: !prevPageAvailable }" @click="prevPage"></i>
					<div id="wrapper" class="card-deck showCaseWrapper">
						<div class="row">
							<div class="col" v-for="vehicle in currentVehicles.slice(0,3)">
								<div class="card vehicleCard" style="border:0">
									<span v-show="!vehicle.loaded">
										<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
									</span>
									<transition name="fade">
										<img :src="vehicle.imglink" class="vehicleImage card-img-top"
											@load="vehicle.loaded = true" v-show="vehicle.loaded">
									</transition>
									<div class="card-body">
										<h5 class="card-title">{{vehicle.name}}</h5>
										<p class="card-text">
											Price: <b>${{vehicle.price | formatMoney}}</b><br>
											Trunk: <b>{{vehicle.trunksize | formatMoney}}</b>
										</p>
										<p class="card-text"><button type="button" id="action1" data-id="`+ st + `"
												class="btn btn-light btn-lg btn-block" data-toggle="modal"
												data-target="#confirmVehiclePurchase"
												@click="selectedVehicle = vehicle">Purchase</button></p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col" v-for="vehicle in currentVehicles.slice(3,6)">
								<div class="card vehicleCard" style="border:0">
									<span v-show="!vehicle.loaded">
										<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
									</span>
									<transition name="fade">
										<img :src="vehicle.imglink" class="vehicleImage card-img-top"
											@load="vehicle.loaded = true" v-show="vehicle.loaded">
									</transition>
									<div class="card-body">
										<h5 class="card-title">{{vehicle.name}}</h5>
										<p class="card-text">
											Price: <b>${{vehicle.price | formatMoney}}</b><br>
											Trunk: <b>{{vehicle.trunksize | formatMoney}}</b>
										</p>
										<p class="card-text"><button type="button" id="action1" data-id="`+ st + `"
												class="btn btn-light btn-lg btn-block" data-toggle="modal"
												data-target="#confirmVehiclePurchase"
												@click="selectedVehicle = vehicle">Purchase</button></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<i id="page-nxt" class="fas fa-angle-right fa-3x justify-content-center"
						:class="{ end: !nextPageAvailable }" @click="nextPage"></i>
				</div>
				<div v-else-if="currentVehicles[0]" class="card-body unselectable row showCaseBox ltdShowBox"
					unselectable="on" :style="{ 'background-image': 'url(\'' + currentVehicles[0].imglink + '\')' }">
					<h1 class="text-white">{{currentVehicles[0].name}}</h1>
					<h3 class="text-white">Price: <b>${{currentVehicles[0].price | formatMoney}}</h3>
					<p class="card-text ltdBuyBtn">
						<button type="button" id="action1" class="btn btn-light btn-lg btn-block" data-toggle="modal"
							data-target="#confirmVehiclePurchase"
							@click="selectedVehicle = currentVehicles[0]">Purchase</button>
					</p>
				</div>
			</div>

			<div class="modal fade" id="confirmVehiclePurchase" tabindex="-1" role="dialog"
				aria-labelledby="confirmVehiclePurchaseTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">{{selectedVehicle.name}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Are you sure you want to purchase this vehicle for ${{selectedVehicle.price | formatMoney}}?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal"
								@click="purchaseVehicle(selectedVehicle)">Purchase</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="ui.js" type="text/javascript"></script>
</body>

</html>